.header {
    display: flex;
    width: calc(100% - 20px);
    align-items: center;
}

.header-title {
    font-size: 1.8em;
    font-weight: 600;
}

.header-avatar {
    margin-left: auto;
    /* margin: 0 0 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    caret-color: transparent;
}

.header-avatar .ant-avatar {
    cursor: pointer; /* 鼠标悬停显示手型 */
    transition: transform 0.2s;
}
.header-avatar .ant-avatar:hover {
    transform: scale(1.10); /* 轻微放大效果 */
}

.header-dropdown-menu { 
    background-color: rabga(255, 255, 255, 0);
}

.header-username {
    font-size: 0.8em;
    line-height: 1;
    margin-top: 5px;
    text-align: center;
    color: rgba(97, 95, 95, 0.836);
    font-weight: 600;
}