.carousel {
    width: 100%;
}

.carousel-item {
    margin: 0;
    height: 200px;
    width: 100%;
    color: #fff;
    background-color: rgb(142, 142, 142);
    text-align: center;
    line-height: 200px;
    border-radius: 5px;
}